# Bundler
Gemfile.lock
/vendor/
.bundle/

# Jekyll
_site
.git-metadata
.jekyll-cache
.jekyll-metadata
.sass-cache

# Our static content
/static/

# Prettier files
node_modules/

# Misc
.DS_Store

# rbenv
.ruby-version
