<div class="footer-row">
  <div class="footer-block footer__about">
    <p>中国科学技术大学 Linux 用户协会是由中国科学技术大学在校的 GNU/Linux 爱好者发起并组成的团体，旨在联合科大的 GNU/Linux
      使用者，搭建信息交流共享的平台，宣传自由软件的价值，提高自由软件社区文化氛围，推广自由软件的应用。</p>
  </div>

  <div class="footer-block footer__contact">
    <ul>
      <li>
        <a href="{{ "/wiki/intro/" | relative_url }}"><i class="fas fa-fw fa-address-card"></i> 关于我们</a>
      </li>
      <li>
        <a href="{{ "/wiki/lug/contact/" | relative_url }}"><i class="fas fa-fw fa-phone-alt"></i> 联系我们</a>
      </li>
      <li>
        <a href="{{ "/wiki/lug/contribute/" | relative_url }}"><i class="fas fa-fw fa-users"></i> 加入我们</a>
      </li>
    </ul>
  </div>

  <div class="footer-block footer__logo">
    <img src="https://ftp.lug.ustc.edu.cn/misc/logo-white.svg" width="33%" />
  </div>
</div>