#footer {
  background: #187165;

  .footer-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint($small) {
      flex-direction: row;
    }

    .footer-block {
      font-size: 0.75em;
      margin-bottom: 0.5em;

      &:first-child {
        margin-left: 0;
      }

      p {
        margin: 0;
      }
    }
  }

  .fa, .fas, .far, .fab, .fal, .fad {
    color: inherit !important;
    --fa-secondary-opacity: 0.5;
  }
}

.footer__about {
  display: block;

  @include breakpoint($small) {
    display: inline-block;
    width: span(4 of 12);
  }
}

.footer__extras {
  display: flex;
  flex-direction: row;

  @include breakpoint($small) {
    width: span(8 of 12);
    margin-left: gutter(of 12);
  }

  > div {
    flex: 1 0 0;
  }
}

.footer__contact {
  margin-top: 0.5em;

  @include breakpoint($small) {
    margin-top: 0;
  }

  h4 {
    font-size: 1em;
    margin: 0;
    font-variant: small-caps;
  }

  ul {
    margin: 0;
    padding-left: 1.33em;

    li {
      margin-bottom: 0.2em;
    }
  }
}

.footer__logo {
  display: flex;
  margin-left: gutter(of 12);
  max-height: 6.8em;

  .footer__logo-image {
    //width: span(4 of 12);

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: 20px;

      @include breakpoint($small) {
        margin: 0;
      }
    }
  }
}
