body.layout--home {
  .archive__subtitle {
    display: none;
  }
}

.archive-group {
  display: flex;
  justify-content: space-around;

  @include breakpoint($large) {
    font-size: 0.9em;
  }
}

.archive-group__item {
  flex: 1 0 0;
  margin-left: gutter(of 12);

  &:first-child {
    margin-left: 0;

    @include breakpoint($large) {
      max-width: 67%;
    }
  }

  .archive__subtitle a {
    color: inherit;
    text-decoration: none;
  }

  .archive__item h2 {
    font-size: 1.33em;
  }
}
