@import "colors";
@import "home";
@import "splash";

// HTML base

html {
  background: white;

  font-size: 14px;
  @include breakpoint($medium) {
    font-size: 16px;
  }
  @include breakpoint($large) {
    font-size: 18px;
  }
  @include breakpoint($x-large) {
    font-size: 20px;
  }
}

// Top nav bar

.masthead {
  border-bottom: none;
  background: $background-color;

  .masthead__menu {
    .greedy-nav {
      background: inherit;

      a {
        color: inherit;
      }
    }
  }
}

// Page header

.page__hero--overlay {
  text-align: center;
  margin-bottom: 1em;

  /*
  .page__title {
    text-shadow: none;
    color: #023692; //mix($primary-color, darkgreen, 60%);
  }

  .page__meta {
    text-shadow: none;
    color: $text-color;
  }
  */
}

.page__lead {
  margin-left: auto;
  margin-right: auto;
}

// Page content

.page__inner-wrap {
  header + .page__content {
    margin-top: 1rem;
  }

  header .page__title {
    font-size: 2em;
  }
}

.page__content {
  @import "content";
}

// Left sidebar

.sidebar {
  li {
    line-height: 2;
  }
}
