@import "colors";
@import "home";
@import "search";
@import "splash";
@import "footer";

// HTML base

html {
  background: white;

  font-size: 14px;
  @include breakpoint($medium) {
    font-size: 16px;
  }
  @include breakpoint($large) {
    font-size: 18px;
  }
  @include breakpoint($x-large) {
    font-size: 20px;
  }
}

body {
  overflow-x: hidden;
}

// Top nav bar

.masthead {
  border-bottom: none;
  background: $background-color;

  .greedy-nav {
    background: inherit;
  }

  .greedy-nav > a,
  .visible-links a,
  .search__toggle {
    color: inherit;
    // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
}

// Page header

.page__hero--overlay {
  text-align: center;
  margin-bottom: 1em;

  /*
  .page__title {
    text-shadow: none;
    color: #023692; //mix($primary-color, darkgreen, 60%);
  }

  .page__meta {
    text-shadow: none;
    color: $text-color;
  }
  */
}

.page__lead {
  margin-left: auto;
  margin-right: auto;
}

// Page content

.page__inner-wrap {
  header + .page__content {
    margin-top: 1rem;
  }

  header .page__title {
    font-size: 2em;
  }
}

.page__content {
  @import "content";
}

// Page related

.page__related {
  .archive__item-excerpt {
    overflow-wrap: break-word;
  }
}

// Left sidebar

.sidebar {
  li {
    line-height: 2;
  }
}

// Right sidebar / Table of Contents

.sidebar__right {
  &.sticky {
    .nav__title {
      height: 2rem;
    }

    .wide & .toc__menu {
      @include breakpoint($large) {
        max-height: initial;
        overflow-y: initial;
      }
    }

    .toc__menu {
      @include breakpoint($large) {
        max-height: calc(100vh - 6rem);
        overflow-y: auto;
        scrollbar-width: thin; // For Firefox
      }

      &::-webkit-scrollbar {
        width: 2px;
        position: absolute;
        top: 0;
        right: -2px;
        margin-right: -2px;
      }

      // WARNING: This is not working
      &:hover::-webkit-scrollbar-thumb {
        opacity: 1 !important;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);

        // WARNING: This is not working
        opacity: 0;
        transition: opacity 0.3s linear, background-color 0.3s linear;

        &:hover {
          background-color: rgba(0, 146, 202, 0.5);
        }
      }
    }
  }
}

// Pagination bar

.pagination {
  text-align: center;

  > ul {
    display: inline-block;
  }

  li a {
    transition: color 0.1s ease-in-out, background 0.3s ease-in-out;

    &:hover {
      color: white;
      background-color: mix($primary-color, $text-color, 60%);
    }
  }
}
