%masthead-immersive {
  .search-content {
    position: relative;
    margin-top: 4em;

    &::before {
      content: '';
      height: 4em;
      position: absolute;
      top: -4em;
      left: 0;
      right: 0;
      z-index: -1;
      // background: url("/image/header/thin/whimsical.png") center/cover no-repeat;
      background-color: mix($primary-color, #00ef98, 90%);
    }
  }
}
