body.layout--splash {
  .masthead {
    height: 0;
    color: white;
  }

  .page__hero--overlay {
    padding-top: 8em;
  }

  .feature__wrapper {
    text-align: center;
  }

  .feature__item {
    width: span(4 of 12);
    margin-left: gutter(of 12);
    float: left;

    &:nth-child(3n + 1) {
      clear: both;
      margin-left: 0;
    }
  }

  .search-content {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -4em;
      left: 0;
      right: 0;
      height: 4em;
      background-color: $primary-color;
    }
  }
}
