---
layout: single
title: 财务报告
permalink: /wiki/lug/finance/
share: false
sidebar:
  nav: wiki
redirect_from:
  - /finance/
  - /news/finance/
---

<style>thead { text-align: center !important; } .amount { text-align: right; }</style>

<h2 id="donates">捐赠记录</h2>
<p>
    捐赠方式请见 <a href="/wiki/lug/finance/donate">LUG 官网</a>。
    本表记载 2018 年换届后的捐赠记录，根据 LUG 电子账册自动生成。
    之前的记录见<a href="/wiki/lug/finance/archive">历史存档</a>。
</p>
<table id="t-donates">
    <thead>
        <tr>
            <th>日期</th>
            <th>捐赠者</th>
            <th>数额</th>
            <th>用途</th>
        </tr>
    </thead>
    <tbody v-if="records === undefined">
        <tr>
            <td colspan="4">正在加载……</td>
        </tr>
    </tbody>
    <tbody v-else>
        <tr v-for="i in records.slice().reverse()">
            <td class="date">${i.date}</td>
            <td class="payee">${i.payee}</td>
            <td class="amount">${i.amount}</td>
            <td class="account">${i.account}</td>
        </tr>
    </tbody>
</table>

<h2 id="servicefunds">服务器维护专款</h2>
<p>
    本表记载 2018 年换届后的服务器维护专款收支记录，根据 LUG 电子账册自动生成。
    之前的记录见<a href="/wiki/lug/finance/archive">历史存档</a>。
    由于换届前的服务器维护专款支出情况记载不明，在此将 2018 年换届时的所有捐款余额均记为服务器维护专款。
</p>
<table id="t-servicefunds">
    <thead>
        <tr>
            <th>日期</th>
            <th>数额</th>
            <th>事由</th>
        </tr>
    </thead>
    <tbody v-if="records === undefined">
        <tr>
            <td colspan="3">正在加载……</td>
        </tr>
    </tbody>
    <tbody v-else>
        <tr v-for="i in records.slice().reverse()">
            <td class="date">${i.date}</td>
            <td class="amount">${i.amount}</td>
            <td class="payee">${i.payee}</td>
        </tr>
    </tbody>
</table>

<h2 id="generalfunds">通用经费</h2>
<p>
    本表记载 2018 年换届后的通用经费收支记录，根据 LUG 电子账册自动生成。
    之前的记录见<a href="/wiki/lug/finance/archive">历史存档</a>。
</p>
<table id="t-generalfunds">
    <thead>
        <tr>
            <th>日期</th>
            <th>数额</th>
            <th>事由</th>
        </tr>
    </thead>
    <tbody v-if="records === undefined">
        <tr>
            <td colspan="3">正在加载……</td>
        </tr>
    </tbody>
    <tbody v-else>
        <tr v-for="i in records.slice().reverse()">
            <td class="date">${i.date}</td>
            <td class="amount">${i.amount}</td>
            <td class="payee">${i.payee}</td>
        </tr>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    function getXMLHttpRequest() {
        try { return new XMLHttpRequest(); }
        catch (e) {
            try { return new ActiveXObject('Msxml2.XMLHTTP'); }
            catch (e) { return new ActiveXObject('Microsoft.XMLHTTP'); }
        }
        return null;
    }
    function newVueApp(el, url, processRecord) {
        let app = new Vue({
            el: el,
            delimiters: ['${', '}'],
            data: {
                records: undefined,
            },
            mounted: function () {
                if (!processRecord)
                    processRecord = function (record) { return record; };
                let xmlHttp = getXMLHttpRequest();
                xmlHttp.open('GET', url);
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                        app.records = [];
                        let lines = xmlHttp.responseText.trim().split('\n');
                        for (let i = 0; i < lines.length; i++) {
                            let record = JSON.parse(lines[i]);
                            app.records.push(processRecord(record));
                        }
                    }
                };
                xmlHttp.send();
            },
        });
        return app;
    }
    app_donates = newVueApp("#t-donates", 'https://pages.ustclug.org/ledger/donates.txt', function (record) {
        if (record.payee.endsWith('捐款'))
            record.payee = record.payee.slice(0, -2).trim();
        if (record.account.startsWith('收入:捐赠:'))
            record.account = record.account.slice(6);
        return record;
    });
    app_servicefunds = newVueApp("#t-servicefunds", 'https://pages.ustclug.org/ledger/servicefunds.txt');
    app_generalfunds = newVueApp("#t-generalfunds", 'https://pages.ustclug.org/ledger/generalfunds.txt');
</script>
