---
title: "LUG @ USTC"
excerpt: "中国科学技术大学 Linux 用户协会"
tagline: "中国科学技术大学 Linux 用户协会"
permalink: /
layout: splash
header:
  overlay_image: "/static/splash/autumn-1.jpg"
  overlay_filter: 0.25
  actions:
    - label: 了解更多
      url: /wiki/intro/
---

<nav class="lug-nav">
  <div class="nav-left">
    <div class="link-group">
      <div class="link-group-row">
        <a href="https://mirrors.ustc.edu.cn/" class="bg-microsoft-red">
          <i class="fab fa-linux fa-5x" aria-hidden="true"></i>
          <span>开源镜像站</span>
        </a>
        <a href="https://git.lug.ustc.edu.cn/" class="bg-microsoft-green">
          <i class="fab fa-gitlab fa-5x" aria-hidden="true"></i>
          <span>GitLab</span>
        </a>
      </div>
      <div class="link-group-row">
        <a href="https://library.ustclug.org/" class="bg-microsoft-blue">
          <i class="fad fa-books fa-5x" aria-hidden="true"></i>
          <span>LUG 书库</span>
        </a>
        <a href="/wiki/lug/services" class="bg-microsoft-yellow">
          <i class="fas fa-chevron-circle-right fa-5x" aria-hidden="true"></i>
          <span>更多服务</span>
        </a>
      </div>
    </div>
  </div>
  <div class="nav-right">
    <div class="description">
      <p>
      中国科学技术大学 Linux 用户协会是由中国科学技术大学在校的 GNU/Linux 爱好者发起并组成的团体，旨在联合科大的 GNU/Linux 使用者，搭建信息交流共享的平台，宣传自由软件的价值，提高自由软件社区文化氛围，推广自由软件的应用。
      </p>
    </div>
    <div class="link-group">
      <div class="link-group-row">
        <a href="/wiki/lug/events/calendar" class="fg-microsoft-red">
          <i class="fad fa-calendar-alt fa-5x" aria-hidden="true"></i>
          <span>活动日历</span>
        </a>
        <a href="/wiki/lug/contact" class="fg-microsoft-green">
          <i class="fad fa-comments fa-5x" aria-hidden="true"></i>
          <span>联系我们</span>
        </a>
      </div>
      <div class="link-group-row">
        <a href="/wiki/lug/finance/donate" class="fg-microsoft-blue">
          <i class="fad fa-thumbs-up fa-5x" aria-hidden="true"></i>
          <span>捐赠我们</span>
        </a>
        <a href="/wiki/lug/links" class="fg-microsoft-yellow">
          <i class="fad fa-link fa-5x" aria-hidden="true"></i>
          <span>友情链接</span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="archive-group">
  <div class="archive-group__item">
    <h3 class="archive__subtitle">
      <a href="{{ "/news/" | relative_url }}">最新文章</a>
    </h3>
    {%- comment %} Combined news and planet {% endcomment -%}
    {% assign posts = site.news | concat: site.planet | sort: 'date' | reverse %}
    {% for post in posts limit: 5 %}
      {% include archive-single.html %}
    {% endfor %}
  </div>
</div>
